html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

.style-navbar {
    @apply h-20 bg-primary py-5 px-10 lg:px-20 sticky top-0 z-10
}

.content {
    min-height: calc(100vh - 5rem);
}

.me-shadow {

    box-shadow: inset 0 0 25px hsl(var(--pc));
}

.bubble {
    @apply absolute w-full h-full top-0 rounded-full;
    box-shadow: inset 0 0 25px hsl(var(--bc));
}

.animation-upper-down {
    animation: bubble-animate 3s ease-in-out infinite;
}
.animation-upper-down:nth-child(2) {
    animation-delay: 500ms;
}
.animation-upper-down:nth-child(3) {
    animation-delay: 1000ms;
}
.animation-upper-down:nth-child(4) {
    animation-delay: 750ms;
}
.animation-upper-down:nth-child(5) {
    animation-delay: 600ms;
}
.animation-upper-down:nth-child(6) {
    animation-delay: 400ms;
}

@keyframes bubble-animate {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

.bubble span {
    @apply absolute  rounded-full
}

.bubble span:nth-child(1) {
    inset: 8px;
    border-left: 10px solid hsl(var(--p));
    filter: blur(10px);
}
.bubble span:nth-child(2) {
    inset: 30px;
    border-left: 8px solid hsl(var(--s));
    filter: blur(15px);
}
.bubble span:nth-child(3) {
    inset: 10px;
    border-bottom: 10px solid hsl(var(--nc));
    filter: blur(8px);
    transform: rotate(330deg);
}

.button-section-projects {
    @apply mx-1 btn h-8 min-h-6 p-2 bg-transparent border-0 btn-primary text-base-content hover:bg-primary hover:text-primary-content rounded
}
.button-section-projects.active {
    @apply bg-primary text-primary-content rounded
}

.input-place-holder {
    @apply text-xs xs:text-sm mb-2 bg-base-300 placeholder:text-base-content px-5 py-2 w-full focus:ring-primary focus:border-primary rounded
 }

.falling-stars {
    @apply absolute top-0 left-0 w-full h-full overflow-hidden z-0;
}

.falling-stars .body {
    @apply absolute top-1/2 left-1/2 z-0 rounded-full;
    background-color: hsl(var(--bc) / .6);
    width: 8px;
    height: 8px;
    opacity: 0;
    animation: falling-stars-animation 3s linear infinite;
}
.falling-stars .body span:nth-child(1) {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-0 rounded-full;
    content: '';
    background-color: hsl(var(--bc) / .4);
    width: 18px;
    height: 18px;
}
.falling-stars .body span:nth-child(2) {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-0 rounded-full;
    content: '';
    background-color: hsl(var(--bc) / .3);
    width: 30px;
    height: 30px;
}

.falling-stars .body::before {
    @apply absolute top-1/2 -translate-y-1/2 translate-x-1 w-[300px] h-[1px];
    content: '';
    background: linear-gradient(90deg, hsl(var(--bc)), transparent);
}

@keyframes falling-stars-animation {
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(315deg) translateX(-75vw);
        opacity: 0;
    }
}

.falling-stars  span:nth-child(1) {
    top: 0;
    right: 0;
    left: initial;
    animation-duration: 1s;
}

.falling-stars  span:nth-child(2) {
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}

.falling-stars span:nth-child(3) {
    top: 80px;
    right: 0;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}

.falling-stars span:nth-child(4) {
    top: 0;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}

.falling-stars span:nth-child(5) {
    top: 0;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}

.falling-stars span:nth-child(6) {
    top: 0;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}

.falling-stars span:nth-child(7) {
    top: 300px;
    right: 0;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}

.falling-stars span:nth-child(8) {
    top: 0;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}

.falling-stars span:nth-child(9) {
    top: 0;
    right: 1000px;
    left: initial;
    animation-delay: 0.7s;
    animation-duration: 2.25s;
}


.falling-stars span:nth-child(10) {
    top: 0;
    right: 450px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.25s;
}
